{%- assign fields = site.data.metadata-config -%}
<script>
(function(){
    /* add item data */
    var items = { 
        {%- for item in site.data.metadata -%}
        {{ item.indexid | jsonify }} : { "filename": {{ item.filename | jsonify }}, {% for f in fields %}"{{ f.field }}": {% if item[f.field] %}{{ item[f.field] | jsonify }}{% else %}"N/A"{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %} }{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    };
    /* get query id from URL */
    var queryString = window.location.search.substring(1).split("=")[1];
    var record = items[queryString];
    /* add item metadata to page */
    if (record) {
        var itemTitle = record.title;
        document.getElementById("bc-title").innerHTML = itemTitle;
        document.getElementById("item-title").innerHTML = itemTitle;
        var itemImage = '<iframe width="280" height="157" src="https://www.youtube.com/embed/' + record.filename + '" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
        document.getElementById("item-image").innerHTML = itemImage;
        var itemLink = '<a href="' + record.identifier + '" target="_blank" class="btn btn-primary" title="Object download">Link to Original Item</a>';
        document.getElementById("item-link").innerHTML = itemLink;
        var fields = '<table class="table">' + {% for f in fields %}'<tr><th scope="row" class="field">{{ f.display-name }}:</th> <td class="field-value">' + record.{{ f.field }} + '</td></tr>' + {% endfor %}'</table>';
        document.getElementById("item-metadata").innerHTML = fields;
    } else {
        document.getElementById("item-metadata").innerHTML = '<h3>Sorry, item not found.</h3>';
    }

    $("#loading").hide();
})();
</script>